<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Directory HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		
   </head>

   <body>
   
 <header>
        <!-- Header Start -->
       <div class="header-area header-transparent">
            <div class="main-header">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1">
                                <div class="logo">
                                  <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a routerLink="">Accueil</a></li>
                                            <li><a routerLink="etat">Etat civil</a></li>
                                            <li><a routerLink="urbanisation">Urbanisation</a></li>
                                            <li><a href="#">Routes et Trottoirs</a> </li>
                                            <li><a href="contact.html">Projets</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li class="add-list"><a routerLink="reclamation"><i class="ti-plus"></i> Ajouter réclamation</a></li>
                                            <li class="login"><a href="#">
                                                <i class="ti-user"></i> Connexion ou Inscription </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Formulaire de Dépot de réclamation:</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<div class="contact_form">
                           
    <div class="form_row">

<table class=lignesEspacees>
        <form name="reclamations" action="Save_reclamation.php" method="post">

        </form>
        <tbody><tr>
        <td>Type Réclamation: </td>
        <td><select name="typeReclamtion" class="blabla">
        <option value=""> Service Nettoyage</option>
        <option value="">Permis de Bâtir</option>
        <option value=""> Autres</option>
        </select></td>
        </tr>
        <tr>
        <td>Nom: </td>
        <td><input name="nom" type="text" value="" size="30"></td>
        </tr>

        <tr>
        <td>Prenom:</td>
        <td> <input name="prenom" type="text" value="" size="30"></td>
        </tr>
        <tr> 
        <td>Adresse:</td>
        <td><input name="adresse" type="text" value="" size="30"></td>
        </tr>
        <tr>
        <td>Tél.:</td> 
        <td><input name="tel" type="text" value="" size="30"></td>
        </tr>
        <tr>
        <td>Email:</td><td> <input name="mail" type="text" value="" size="30"></td>
        </tr>
        <tr>
        <td>Votre Réclamation: </td><td><textarea rows="10" cols="40" name="Message" value=""></textarea></td>
        </tr>
        <br><br>
        <tr>
        <td></td>
        <td><input type="submit" name="Valider" value="Envoi"><input type="reset" name="Annuler" value="Annuler"></td>

        </tr>

        </tbody>
    
</table> 
</div>      
</div>
<footer>
<div class="footer-area">
    <div class="container">
       <div class="footer-top footer-padding">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Lien Rapide</h4>
                            <ul>
                                <li><a href="#">Acceuil</a></li>
                                <li><a href="#">Reclamation</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Connecter/Inscrire</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Nos services</h4>
                            <ul>
                                <li><a href="#">Etat civil</a></li>
                                <li><a href="#">Urbanisation</a></li>
                                <li><a href="#">Routes & trottoirs</a></li>
                                <li><a href="#">Projets</a></li>     
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Download App</h4>
                            <ul>
                                <li class="app-log"><a href="#"><img src="assets/img/gallery/app-logo.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/gallery/app-logo2.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       </div>
      
    </div>
</div>
<!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
</body>
</html>